@import url(aside.css);
@import url(blocks.css);
@import url(colors.css);
@import url(footer.css);
@import url(header.css);
@import url(layout.css);
@import url(main.css);
@import url(navbar.css);
@import url(post.css);

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--gray-200);
}