.ad-banner {
    display: flex;
    display: none;
    justify-content: center;
}

@media (min-width: 768px) {
    .ad-banner {
        display: contents;
    }
}

.ad-banner__img {
    max-width: 90%;
}

.ad-banner__link {
    margin-top: 100px;
    text-align: center;
}

.more-posts-widget {
    margin-top: 10px;
    padding: 10px;
}

.more-posts-widget__list {
    margin-bottom: 30px;
}

.post-card {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    margin: 15px 0 15px 0;
    padding: 15px;
    background-color: var(--gray-100);
    border: 1px solid var(--gray-400);
    border-radius: 5px;
}

.post-card__featured-image {
    max-width: 100%;
}

.post-card__cta:link,
.post-card__cta:visited {
    width: 150px;
    margin: 20px 0 20px 0;
    padding: 15px;
    color: var(--dark);
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

.post-card__cta:hover,
.post-card__cta:active {
    background-color: var(--gray-200);
}

.post-card__date {
    margin: 20px 0 20px 0;
    font-style: italic;
    color: var(--gray-600);
}

.post-card__preview {
    margin-bottom: 15px;
    /* line-height: 1.8em; */
}

.post-card__title {
    margin: 15px 0 20px 0;
}