.footer {
    display: flex;
    height: 100px;
    background-color: var(--dark);
    justify-content: center;
}

.footer__copyright {
    margin: 10px;
    color: var(--white);
    align-self: flex-end;
}