.blog-post {
    padding: 1em 1em;
    background-color: #fff;
}

.blog-post p {
    line-height: 2.5rem;
    margin: 2rem 0;
}

.blog-post__img {
    width: 100%;
    margin: 1rem 0;
}

.blog-post figcaption {
    color: rgb(107, 107, 107);
    text-align: center;
    font-style: italic;
    margin-top: -1em;
    font-size: 0.9em;
}