.grid-layout {
    display: grid;
}

.grid-layout--home-page {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, auto);
    grid-template-areas:
        "nv"
        "hd"
        "mn"
        "as"
        "ft";
}

@media (min-width: 768px) {
    .grid-layout--home-page {
        grid-template-columns: 1fr repeat(3, minmax(256px, 400px)) 1fr;
        grid-template-areas:
            "nv nv nv nv nv"
            "hd hd hd hd hd"
            ". mn mn as ."
            "ft ft ft ft ft";
    }
}

.grid-layout--content-page {}

.grid-layout__aside {
    grid-area: as;
}

.grid-layout__footer {
    grid-area: ft;
}

.grid-layout__header {
    grid-area: hd;
}

.grid-layout__main {
    grid-area: mn;
}

.grid-layout__navbar {
    grid-area: nv;
}