@import url(blog-post.css);
@import url(footer.css);
@import url(grid-layout.css);
@import url(hero-image.css);
@import url(meta-view.css);
@import url(post-card.css);

/* Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap);

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    background-color: rgb(241, 242, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a:link,
a:visited {
    text-decoration: none;
    color: rgb(114, 99, 180);
    border-color: rgb(114, 99, 180);
}

a:hover,
a:active {
    color: rgb(75, 65, 121);
}

nav {
    font-size: 1rem;
}

#aside-container {
    height: 100%;
    padding: 1rem 1rem;
    background-color: #fff;
}

#aside-container {
    padding-bottom: 5rem;
}

/* TODO: Create my own custom buttons instead of overriding Bootstrap */
.btn-outline-primary {
    color: rgb(114, 99, 180);
    border-color: rgb(114, 99, 180);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: rgb(75, 65, 121);
    border-color: rgb(75, 65, 121);
}