.meta-view {
    display: flex;
    margin: 1em 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.meta-view * {
    font-size: 0.95rem;
}

.meta-view__author-meta {
    width: 100%;
}

.meta-view__author-profile-img {
    min-width: 40px;
    max-width: 80px;
    height: auto;
    border: 2px solid rgb(101, 95, 138);
    border-radius: 500px;
}


.meta-view__author-profile-img:hover {
    transform: scale(1.05);
}

.meta-view__link:link,
.meta-view__link:visited {
    text-decoration: none;
    color: inherit;
}

.meta-view__link:hover,
.meta-view__link:active {
    text-decoration: underline;
    color: rgb(68, 68, 68);
}

.meta-view__text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1em;
}