.post-card {
    position: relative;
    z-index: auto;
    margin: 2rem 0 5rem 0;
}

.post-card__feature-image {
    width: 100%;
    height: auto;
}

.post-card__link {}

.post-card__long-title {
    margin-top: 1rem;
    text-transform: capitalize;
}

.post-card__short-title {
    position: relative;
    z-index: auto;
    display: flex;
    height: 3rem;
    margin-top: -3rem;
    padding-left: 1rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgba(84, 83, 145, 0.555);
}

.post-card__short-title--light {
    color: #fff;
}
