nav {
    grid-area: nav;    
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.layout {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

/* LAYOUT FOR LANDING PAGE
-------------------------------------------------*/
.layout--landing {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, auto);
    grid-template-areas:
        "nav"
        "header"
        "main"
        "aside"
        "footer";
}

@media (min-width: 768px) {
    .layout--landing {
        grid-template-columns: 1fr repeat(6, 128px) 1fr;
        grid-template-areas:
            "nav nav nav nav nav nav nav nav"
            "header header header header header header header header"
            ". main main main main aside aside ."
            "footer footer footer footer footer footer footer footer";
    }
}

@media (min-width: 1024px) {
    .layout--landing {
        grid-template-columns: 1fr repeat(8, 128px) 1fr;
        grid-template-areas:
            "nav nav nav nav nav nav nav nav nav nav"
            "header header header header header header header header header header"
            ". main main main main main aside aside aside ."
            "footer footer footer footer footer footer footer footer footer footer";
    }
}

@media (min-width: 1200px) {
    .layout--landing {
        grid-template-columns: 1fr repeat(8, 150px) 1fr;
    }
}

/* TODO:
LAYOUT FOR SINGLE BLOG POST PAGE
-------------------------------------------------*/